# IDE specific files
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Build output
target/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# Log files
*.log

# System files
.DS_Store