<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>System Sage</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>System Sage</h1>
    <ul>
        <li><a href="/bios-profiles">Overclocker's Logbook</a></li>
        <li><a href="/system-inventory">System Inventory</a></li>
        <li><a href="/devenv-audit">Developer Environment Audit</a></li>
    </ul>
</div>
</body>
</html>